@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hgroup class="title">
                <h1 class="error">Error.</h1>
                <h2 class="error">An error occurred while processing your request.</h2>
            </hgroup>
            <p>@ViewBag.Message</p>
        </div>
    </div>
</div>


