#tip{
	position : absolute;
	text-align: center;
	border : 1px solid gray;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color : #efefa0;
	padding : 3px;
	z-index: 1000;
	/* set this to create word wrap */
	max-width: 200px;
}
#holder {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	left: 0;
	right: 0;
	position: absolute;
	cursor: default;
	top: 0;
	bottom: 0;
	border: none;
}
#minimap_old {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	background: rgba(255, 255, 255, 0.8);
	right: 10px;
	position: absolute;
	cursor: default;
	bottom: 10px;
	border : 1px solid gray;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#mainview {
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	height: 770px;
	font-size: 30px;
	z-index: 15;
}
#minimap {
	position: fixed;
	left: 60%;
	top: 50em;
	font-size: 5px;
	z-index:40;
    background:center;
    background-color:white;
}
.canvas {
	position: relative;
	background: rgba(255, 255, 255, 0.0);
    background-color:white;
	width: 100px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#minimap .canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.circle {
	box-sizing: border-box;
	cursor: default;
	background: #fff;
	position: absolute;
	width: 3em;
	height: 3em;
	border: 0.3em solid #f00;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	text-align: center;
	vertical-align: middle;
	line-height: 3em;
	z-index: 10;
}
.octagon {
	position: absolute;
	box-sizing:border-box;
	width: 5em;
	height: 5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
background-color: none;
background-image: linear-gradient(45deg, orange, orange 36.5%, transparent 37%, transparent 62.5%, orange 62%, orange 100%),
linear-gradient(-45deg, orange, orange 36.5%, transparent 37%, transparent 62.5%, orange 62%, orange 100%);
	background-position: 2.48em 2.48em;
	z-index: 10;
}
.octagon_inner {
	box-sizing:border-box;
	width: 4em;
	height: 4em;
background-color: none;
background-image: linear-gradient(45deg, black, black 36.5%, transparent 37%, transparent 62.5%, black 62%, black 100%),
linear-gradient(-45deg, black, black 36.5%, transparent 37%, transparent 62.5%, black 62%, black 100%);
	background-position: 1.98em 1.98em;
}
.hexagon {
	position: absolute;
	box-sizing:border-box;
	width: 5em;
	height: 5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
background-color: none;
background-image: linear-gradient(30deg, orange, orange 31%, transparent 31%, transparent 69%, orange 69%, orange 100%),
 linear-gradient(-30deg, orange, orange 31%, transparent 31%, transparent 69%, orange 69%, orange 100%);
	background-position: 2.48em 2.48em;
	z-index: 10;
}
.hexagon_inner {
	box-sizing:border-box;
	width: 4em;
	height: 4em;
background-color: none;
background-image: linear-gradient(30deg, black, black 31%, transparent 31%, transparent 69%, black 69%, black 100%),
 linear-gradient(-30deg, black, black 31%, transparent 31%, transparent 69%, black 69%, black 100%);

	background-position: 1.98em 1.98em;
}
.line {
	position: absolute;
	width: 0.3em;
	height: 0.3em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	background-color: #dd5;
	z-index: 5;
}
.arc {
	background: #f00;
	position: absolute;
	width: 10em;
	height: 10em;
	z-index: 500;
}
.descr {
	text-align: center;
	position: absolute;
	width: 4em;
	height: 5em;
	display: table;
	z-index: 11;
}

.descr p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 0.5em;
	line-height: 1em;
}

.navbox {
	box-sizing:border-box;
	pointer-events: none;
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid #000;
	z-index: 12;
}
#grpview {
	background: #fff;
	position: absolute;
	top: 5em;
	left: 5em;
	bottom: 5em;
	right: 5em;
	border: 0.2em solid #aaf;
	z-index: 50;
}
